header {
    display: flex;
    height: 120px;
    background-color: rgb(161, 66, 180);
    justify-content: space-between;
    align-items: center;
}
.logo img{
height: 120px;
}
nav a {
    font-weight:bold;
    padding: 60px; 
}
a{ 
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 100px;
}
nav a:hover{
color: rgb(255, 254, 254);
font-size: 3.5em  

   
}
body{
    color: rgb(134, 108, 138);
    margin: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-image:url(imagenes/negro.jpg)


}



    h1{font-size:  3.5em;}
    p{font-size: 1.4em;}
    h3{font-size: 2.0em;}