header {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/951832210805745894/AD17AEA1CE96AB1ED7FC7B52A5E007D5ACA9D69F/?imw=512&imh=288&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true);
    padding: 10px;
}


.logo img{
height: 95px;
justify-content: start;
margin: -50px;
}
nav a {
    font-weight:bold;
    padding: 30px; 
}
a{ 
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 90px;
}
nav a:hover{
color: rgb(255, 0, 0);
font-size: 1.5em  

   
}
body{
    color: rgb(255, 255, 255);
    margin: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-image:url(imagenes/negro.jpg)
 


}
::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(0, 0, 0);


}
::-webkit-scrollbar-thumb{
    background: rgb(0, 0, 0), .2 ;
    border-radius: 10px;
    border-right: 10px solid rgb(95, 4, 95);
}



    h1 {font-size:  3.5em;}
    p{font-size: 1.4em;}
    h3{font-size: 2.0em;}

    @font-face {
        font-family:fuentepiola ;
        src: url(imagenes/fortnite.otf);

    }
    h1 {
        font-family:fuentepiola ;
    }
   h2 {
    font-family:fuentepiola ;
}
h3 {
    font-family:fuentepiola ;
}
h4 {
    font-family:fuentepiola ;
}

p {
    color:rgb(172, 172, 172) ;
    font-family:fuentepiola ;
}

.resolucion {
    width: 99%;
    text-align: center;

}
/**Movil**/
@media (max-width: 767px){
    .desktop{ display: none; }
    .tablet{display: none; }
    

} 
/**Tablet**/
@media (min-width: 768px) and (max-width: 990px){
    .desktop{display: none;}
    .movil{display: none;}

}
/**Escritorio**/
@media (min-width: 991px) {
    .tablet{display: none; }
    .movil{ display: none;}

 }
    











